.product .card {
  margin-bottom: 16px;
}

.product__image-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0 .12);
}

.product .card-img-top {
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
