.cart-item .card {
  display: flex;
  flex-direction: row;
  height: 140px;
  margin-bottom: 16px;
}

.cart-item .card-img-top {
  width: 200px;
}

.cart-item .card-body {
  padding: 8px 16px;
}

.cart-item .card-text {
  flex-grow: 2;
}

.cart-item .cart-item__group {
  display: flex;
  flex-direction: row;
}

.cart-item__image-container {
  width: 200px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0 .12);
}

.cart-item .card-img {
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
