.facebook-login__button {
  background-color: #416CBF;
  border-radius: 3px;
  border: 0;
  color: white;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 24px;
}

.facebook-login__button.--disabled {
  background-color: #6c757d;
}
