.app-header__container {
  height: 104px;
}

.app-header.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 56px;
  top: 0;
}

.app-header__alert.alert {
  position: fixed;
  top: 56px;
  z-index: 1;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}
